
.record_article_container{background: #fff;padding:0px 10px;}
h2.title{color: #333;font-size: 3.4rem;line-height: 1.3;padding:10px 0px;border-bottom:1px solid #ededed;}
.article_meta{color: #999;font-size: 2.4rem;}
.article_meta>div{border-bottom:1px solid #ededed;padding:3% 0;}
.article_meta_icon{width:4%;vertical-align: -2px;margin-right: 5px;}
.author_icon{background-position: -10px -40px;width:1.8rem;height: 1.8rem;margin-right: 5px;}
.grey_clock_icon{background-position:-27px -35px;width:1.8rem;height: 1.8rem;margin-right: 5px; background-size: 54px;}
.article_content{padding:4.3% 0;color: #333;font-size:2.4rem;line-height: 1.4;border-bottom:1px solid #ededed;margin-bottom: 4.3%}
.article_content img{width:100%;}
.article_img{width:100%;}
.aside{padding:0 10px;}
.aside a{display: block;}
.aside img{width:100%;}
.footer{margin-top:4.5%;padding:3.9% 10px 3.9% 10px;background: #313131;}
.footer_content{position: relative;}
.flooter_logo{width:28%;}
.footer_email{color: #999;font-size: 2.4rem;position:absolute;right: 10px;bottom: 0 }
